* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  overflow-y: scroll;
}

li {
  list-style: none;
}

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

.avatar {
  height: 40px;
  width: 40px;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
}

@media (min-width: 768px) {
  .content {
    max-width: auto;
    width: auto;
  }
}

#sidebar.collapsed {
  margin-left: -264px;
}

@media (max-width: 767.98px) {
  .js-sidebar {
    margin-left: -264px;
  }

  #sidebar.collapsed {
    margin-left: 0;
  }
}
